body{
    margin: 0px;
    background-color: #222222;
    text-align: center;
    color: whitesmoke;
    font: normal normal 1.4em Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
    
header{
    background-color: black ;
    
    color: #f0C400;
    font: normal bold Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0px; 
    
}
h1{
    margin: 0px;
    padding: 10px;   
}
ul{
    text-align: left;
    list-style: none;
    position: relative;
    text-indent: 6%;
    padding: 0px;
}

div{ 
    background: center top no-repeat fixed;
    background-size: cover;
    height: 300px;
    margin: 2px;
}
section{
    border: 2px solid black;
}
span{
    position:absolute;
    right: 6%;
}

#musica{
    background-image: url(archives/musica800.jpg);
    
}
#restaurante {
    background-image: url(archives/ristorant.jpg);
    
}
#comida{
    background-image: url(archives/comida2.jpg);
    margin-bottom: 0px;
    height: 200px;
    

}
a{  
    color: white;
    text-decoration: underline;
}
footer{
    background-color: black;
    padding: 0px;
    margin: 0px;
    
}
footer p{
    text-align: center;
    font:normal bold 0.7em 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}


