body{
    margin: 0px;
    background-color: #222222;
    
}
header{
    background-color: black ;
    
    color: #f0C400;
    font: normal bold 1.4em Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0px; 
    text-align: center;
}
h1{
    margin: 0px;
    padding: 10px;   
}
p{
    color: whitesmoke;
    font: normal normal 1.6em Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 80px 0px 350px 10%;
    margin: 0px;
}
div{
    /*
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
   
    background-attachment: fixed;
   color image position repeat attachement*/ 
    background:black center center no-repeat fixed;
    margin: 10px 0px 80px 0px;
    background-size: cover;
}
#musica{
    background-image: url(archives/musica800.jpg);
    
}
#restaurante {
    background-image: url(archives/ristorant.jpg);
    
}
#comida{
    background-image: url(archives/comida2.jpg);
    margin-bottom: 0px;
    

}
a{  
    color: white;
    text-decoration: underline;
}
footer{
    background-color: black;
    padding: 25px;
    margin: 0px;
}
footer p{
    text-align: center;
    font:normal bold 1em 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}


